


.Body {
    min-height:100vh;
   
}


.icon-body1 {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    
  
}
.icon-body2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height:1200px;
    
}

.icon-body3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:2000px;
    
}

.icon1 {
   flex-grow:0.4;
}

.icon2 {
    width:100%;
    
    flex-grow: 0.5;
}
.icon3 {
    flex-grow: 0.5;
}
.text-animation1 {
    margin-top:10%;
    width:50%;
    font-weight:500;
    font-size:30px;
}
.text-animation1-2 {
    font-size:30px;
    padding-left:5%;
    padding-right:5%;
    
    font-weight:500;


    
}
.text-animation-h2 {
    font-size:60px;
    font-weight:500;
    color: rgb(206, 158, 0);
}

.text-animation2 {
    margin-right:23%;
}
.text-animation3 {
    position:absolute;
    margin-top:50%;
}


