


.Body {
    min-height:100vh;
   
}


.icon-body1 {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    min-height:1000px;
  
}
.icon-body2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height:1200px;
    
}

.icon-body3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:2000px;
    
}

.icon1 {
   flex-grow:0.4;
}

.icon2 {
    width:500px;
    flex-grow: 0.1;
}
.icon3 {
    flex-grow: 0.5;
}



