footer {
    margin-right: 2%;
    margin-left: 2%;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: center;
    font-size:28px;
    
}
.github {
    color:white;
    padding:3px;
}

.linkedin {
    color: #0077b5;
    padding: 3px;
}