nav {
    

    padding-left: 2%;
    padding-right: 2%;
    transition: background-color 0.3s ease; /* Add transition for background color */
}

  

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.darkmode-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 20px;
    padding-right: 5px;
    padding-left:5px;
    width: 100%;
    font-size: 30px;
    transition: all 0.5s ease; /* Adjust the duration and timing function as needed */
}

 


.moon-icon {
    color: rgb(255, 223, 117);
    transition: all 0.5s ease;
}
.moon-icon:hover {
    opacity: 0.8;
    transform: scale(1.001); 
 
}

.sun-icon {
    color: #ffcb11;
}
.sun-icon:hover {
    opacity: 0.8;
    transform: scale(1.001); 
   
}

.flex-start {
    font-size: 45px;
    display:flex;
}

.flex-end {
    font-size: 32px;
    display:flex;
    margin-bottom: -15px;
}

.right {
    padding-right: 10px;
}
a {
  
    
    position:relative;
    transition: 0.5s;
    cursor:pointer;
}
a::after {
    position:absolute;
    content:"";
    width: 100%;
    height:3px;
    top:100%;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: blueviolet;

   
}

a:hover {
    color:white;
}
a:hover::after {
    transform: scaleX(1);
    transform-origin:left;
}
#title {
    border: 2px solid white;
    border-radius: 4px;
    padding-right: 4px;
    padding-left: 4px;
}

    




@media (max-width: 700px) {
    .flex-start {
        font-size: 37px;
    }

    .flex-end {
        font-size: 23px;
    }


    .darkmode-icon {
      
        font-size:22px;
       
    }
}
